<html lang="nl-BE">
	<body>
	<header>
		<p>Persbericht door: {{creatorName}}</p>
	</header>

	<main>
		<h1 class="press-release-title">{{title}}</h1>
		<div class="press-release-content">{{htmlContent}}</div>
	</main>

	<footer>
		<h2 class="sources-title">Bronnen</h2>
	</footer>
	</body>
</html>

